# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of Data Scientists Languages
- List of libraries Data Scientists use
- Data Science Tools
- Examples of evaluating arithmetics in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. MatPlotlib
3. Plotly
4. Pandas

|Data Science Tools|
|-----------------|
|Jupyter Notebook|
|JupyterLab|
|GoogleColab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Javoxir